<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="tw.com.bais.AppChange"
        version="1.0.0">
    
    <name>AppChange</name>
    
    <description></description>
    
    <keywords></keywords>
    
    <repo>https://github.com/pearl-wu/AppChange.git</repo>
    <issue></issue>
    <license></license>
    <preference name="URL_SCHEME" />
	
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <js-module src="www/AppChange.js" name="AppChange">
        <clobbers target="AppChange" />
    </js-module>
    
    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AppChange">
                <param name="ios-package" value="AppChange" />
            </feature>
        </config-file>
		<config-file target="*-Info.plist" parent="CFBundleURLTypes">
		  <array>
			<dict>
			  <key>CFBundleURLSchemes</key>
			  <array>
				<string>$URL_SCHEME</string>
			  </array>
			</dict>
		  </array>
		</config-file>
        
        <header-file src="src/ios/AppChange.h" />
        <source-file src="src/ios/AppChange.m" />
    </platform>
    
    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AppChange">
                <param name="android-package" value="tw.com.bais.AppChange" />
            </feature>
        </config-file>
		
		<config-file target="AndroidManifest.xml" parent="/*">
		  <intent-filter>
			<data android:scheme="$URL_SCHEME"/>
			<action android:name="android.intent.action.VIEW" />
			<category android:name="android.intent.category.DEFAULT" />
			<category android:name="android.intent.category.BROWSABLE" />
		  </intent-filter>
		</config-file>
        
        <source-file src="src/android/AppChange.java" target-dir="src/tw/com/bais/AppChange/" />
    </platform>
    
</plugin>